{
  "extends": ["react-app"],
  //not supported by VS -- so cannot create naming rules by argument type (e.g. special rules for booleans)
  //"parserOptions": {
  //    "project": "./tsconfig.json"
  //},
  "rules": {
    "unicode-bom": "off",
    "semi": "error",
    "no-tabs": "error",
    "indent": "off",
    // See https://typescript-eslint.io/rules/naming-convention
    "camelcase": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "default",
        "format": ["camelCase"]
      },

      {
        "selector": "variable",
        "format": ["camelCase"]
      },
      {
        "selector": ["variable", "function"],
        "modifiers": ["global"],
        "format": ["PascalCase", "camelCase"]
      },
      {
        "selector": "variable",
        "modifiers": ["const"],
        "format": ["camelCase", "UPPER_CASE"]
      },
      {
        "selector": ["variable", "function"],
        "modifiers": ["exported"],
        "format": ["PascalCase", "camelCase"]
      },
      {
        "selector": "parameter",
        "format": ["camelCase"]
      },

      {
        "selector": "memberLike",
        "modifiers": ["private"],
        "format": ["camelCase", "PascalCase"],
        "leadingUnderscore": "allow"
      },

      {
        "selector": "enumMember",
        "format": ["PascalCase"]
      },

      {
        "selector": "interface",
        "format": ["PascalCase"],
        "prefix": ["I"]
      },

      {
        "selector": "typeProperty",
        "format": ["camelCase", "PascalCase", "snake_case"]
      },

      {
        "selector": ["classProperty", "classMethod"],
        "modifiers": ["public"],
        "format": ["PascalCase", "camelCase"]
      },

      {
        "selector": "typeParameter",
        "format": ["PascalCase"],
        "prefix": ["T"]
      },

      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      }
    ]
  }
}
/*
to get this working with Visual Studio 2019 / 2022:
  - enable eslint in VS
    - Tools > Options > Text Editor > JavaScript/TypeScript > Linting > check 'enable ESLint' and 'lint all files'
  - go to C:\Users\{username}\AppData\Local\Microsoft\TypeScript\ESLint
    - npm install eslint-config-react-app@6
    - npm install eslint-plugin-flowtype@5
    - npm install eslint-plugin-import@2
    - npm install eslint-plugin-jsx-a11y@6
    - npm install eslint-plugin-react@7
    - npm install eslint-plugin-react-hooks@4
    - npm install @typescript-eslint/eslint-plugin@4
    - npm install @typescript-eslint/parser@4

    or to install all at once:

    npm install --no-save eslint-plugin-flowtype@5 eslint-plugin-import@2 eslint-plugin-jsx-a11y@6 eslint-plugin-react@7 eslint-plugin-react@7 eslint-plugin-react-hooks@4 @typescript-eslint/eslint-plugin@4 @typescript-eslint/parser@4
*/
